In [1]:
# Initializing imports.
import pandas as pd 
from pathlib import Path
import datetime as dt

In [3]:
# Read in the data that was copied to our clipboard and converting it to a dataframe.
Cubs_Games_2019 = pd.read_clipboard()
Cubs_Games_2019.head()

   Game Date / Box Score           Opponent  Score Decision Record
0     1       03-28-2019   at Texas Rangers   12-4        W    1-0
1     2       03-30-2019   at Texas Rangers    6-8        L    1-1
2     3       03-31-2019   at Texas Rangers  10-11        L    1-2
3     4       04-01-2019  at Atlanta Braves    0-8        L    1-3
4     5       04-03-2019  at Atlanta Braves    4-6        L    1-4

In [4]:
# Drop the columns that are not needed.
Cubs_Games_2019.drop(columns = ['Game','Score', 'Decision', 'Record'], inplace = True)

In [5]:
Cubs_Games_2019.head()

  Date / Box Score           Opponent
0       03-28-2019   at Texas Rangers
1       03-30-2019   at Texas Rangers
2       03-31-2019   at Texas Rangers
3       04-01-2019  at Atlanta Braves
4       04-03-2019  at Atlanta Braves

In [6]:
# Find Home Games only and excluding any away games.
Cubs_Home_Games_2019 = Cubs_Games_2019[Cubs_Games_2019.Opponent.str.contains('vs', regex=False)]

In [7]:
Cubs_Home_Games_2019

    Date / Box Score                Opponent
9         04-08-2019   vs Pittsburgh Pirates
10        04-10-2019   vs Pittsburgh Pirates
11        04-11-2019   vs Pittsburgh Pirates
12        04-12-2019   vs Los Angeles Angels
13        04-13-2019   vs Los Angeles Angels
..               ...                     ...
151       09-18-2019      vs Cincinnati Reds
152       09-19-2019  vs St. Louis Cardinals
153       09-20-2019  vs St. Louis Cardinals
154       09-21-2019  vs St. Louis Cardinals
155       09-22-2019  vs St. Louis Cardinals

[81 rows x 2 columns]

In [8]:
# Convert the dates into the datetime format.
Cubs_Home_Games_2019['Date / Box Score'] = pd.to_datetime(Cubs_Home_Games_2019['Date / Box Score'])

<ipython-input-8-31a69ae39122>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cubs_Home_Games_2019['Date / Box Score'] = pd.to_datetime(Cubs_Home_Games_2019['Date / Box Score'])

In [9]:
Cubs_Home_Games_2019.head()

   Date / Box Score               Opponent
9        2019-04-08  vs Pittsburgh Pirates
10       2019-04-10  vs Pittsburgh Pirates
11       2019-04-11  vs Pittsburgh Pirates
12       2019-04-12  vs Los Angeles Angels
13       2019-04-13  vs Los Angeles Angels

In [10]:
# Get the number of the week for each date on daily dataframe.
Week_of_Cubs_Game = Cubs_Home_Games_2019['Date / Box Score'].dt.week.to_frame()
Week_of_Cubs_Game

<ipython-input-10-a5c5b6ebc831>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  Week_of_Cubs_Game = Cubs_Home_Games_2019['Date / Box Score'].dt.week.to_frame()

     Date / Box Score
9                  15
10                 15
11                 15
12                 15
13                 15
..                ...
151                38
152                38
153                38
154                38
155                38

[81 rows x 1 columns]

In [12]:
# Merge the week game data with the rest of the dataframe. Each date now has its respective week number.
Cubs_Weekly_Home_Games = pd.concat([Week_of_Cubs_Game, Cubs_Home_Games_2019], axis = 'columns', join = 'inner')
Cubs_Weekly_Home_Games

    Date / Box Score Date / Box Score                Opponent
9                 15       2019-04-08   vs Pittsburgh Pirates
10                15       2019-04-10   vs Pittsburgh Pirates
11                15       2019-04-11   vs Pittsburgh Pirates
12                15       2019-04-12   vs Los Angeles Angels
13                15       2019-04-13   vs Los Angeles Angels
..               ...              ...                     ...
151               38       2019-09-18      vs Cincinnati Reds
152               38       2019-09-19  vs St. Louis Cardinals
153               38       2019-09-20  vs St. Louis Cardinals
154               38       2019-09-21  vs St. Louis Cardinals
155               38       2019-09-22  vs St. Louis Cardinals

[81 rows x 3 columns]

In [13]:
# Rename column names.
columns = ['Week', 'Date / Box Score', 'Opponent']
Cubs_Weekly_Home_Games.columns = columns
Cubs_Weekly_Home_Games.head()

    Week Date / Box Score               Opponent
9     15       2019-04-08  vs Pittsburgh Pirates
10    15       2019-04-10  vs Pittsburgh Pirates
11    15       2019-04-11  vs Pittsburgh Pirates
12    15       2019-04-12  vs Los Angeles Angels
13    15       2019-04-13  vs Los Angeles Angels

In [14]:
# Group dataframe by 'Week' number and count the number of games each week, then sort them by ascending date. 
Cubs_Weekly_Home_Games.groupby('Week').count()

      Date / Box Score  Opponent
Week
15                   5         5
16                   3         3
17                   3         3
18                   3         3
19                   7         7
21                   7         7
23                   7         7
25                   6         6
26                   4         4
28                   3         3
29                   6         6
31                   3         3
32                   3         3
34                   6         6
35                   3         3
36                   2         2
37                   3         3
38                   7         7

In [ ]:
# Rename the games column and dropp the 'Opponent' column.
Cubs_2019_Home_Games = Cubs_Weekly_Home_Games.rename(columns={'Date / Box Score':'No_Cubs_Games'}).drop(columns=['Opponent'])

In [ ]:
# Final 2019 Cubs Home Games dataframe by week:
Cubs_2019_Home_Games